*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*deixar com 
largura de 920px 
altura de 800px 
centralizada*/

.mamae{
    width: 920px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px dashed salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mamae__filhinho{
    width: 150px;
    height: 150px;
    background-color: salmon;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filhinho--azul{
    background-color: skyblue;
    color: white;
}